@import "../../App.scss";

h1 {
    font-size: 2vw;
    margin-bottom: 1%;
}
.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 19vh;

    &__form {
        display: flex;
        justify-content: center;
        position: relative;
        & input {
            position: inherit;
            z-index: 5;
            border: 1px solid $secColor;
            border-radius: 3rem;
            padding: 0.5rem 1rem;
        }
    }
    &__suggestions {
        background-color: $secColor;
        overflow-y: scroll;
        position: absolute;
        z-index: 3;
        margin-top: 1rem;
        padding: 1rem 0;
        max-height: 39rem;
        width: 23.9rem;
        border-radius: 0 0 15px 15px;
        & button {
            width: 100%;
            padding: 0.5rem;
        }
    }
}
.formBtn {
    z-index: 4;
    position: relative;
    border-radius: 4rem;
    padding-left: 3rem;
    padding-right: 1rem;
    margin-left: -2rem;
}
