@import "../../App.scss";

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20vh;

    &__form {
        display: flex;
        justify-content: center;
        position: relative;
        & input {
            position: inherit;
            z-index: 5;
            border: 1px solid $secColor;
            border-radius: 5rem;
            padding: 1rem 2rem;
        }
    }
    &__suggestions {
        background-color: $secColor;
        overflow-y: scroll;
        position: absolute;
        z-index: 3;
        margin-top: 1.5rem;
        padding: 2rem 0;
        max-height: 40rem;
        width: 24.9rem;
        border-radius: 0 0 15px 15px;
        & button {
            width: 100%;
            padding: 1rem;
        }
    }
}
.formBtn {
    z-index: 4;
    position: relative;
    border-radius: 5rem;
    padding-left: 4rem;
    padding-right: 1.5rem;
    margin-left: -3rem;
}
