@import "../../App.scss";

.carousel {
    max-width: 100vw;
    overflow: hidden;
    margin: auto;
}
.blankCard {
    background: $grey;
    margin: 1rem;
    border-radius: 1rem;
    border: 2px solid $darkGrey;
    height: #{"min(24vh,24vw)"};
    min-width: #{"min(16vh,16vw)"};
    width: #{"min(16vh,16vw)"};
}
.cards__item {
    background: white;
    margin: 1rem;
    border-radius: 1rem;
    border: 2px solid $darkGrey;
    height: #{"min(24vh,24vw)"};
    min-width: #{"min(16vh,16vw)"};
    width: #{"min(16vh,16vw)"};
}
.cardFront {
    & p:last-of-type {
        font-family: "Metropolis", serif;
    }
}
.inner {
    height: 100%;
    display: flex;
    justify-content: center;
}
.icon {
    margin: auto;
    width: 90%;
    height: auto;
}
.cardPath {
    fill: url(#gradient);
}
@media screen and (max-width: 1023px) {
    .blankCard {
        min-width: #{"min(39rem,60vw)"};
        min-height: #{"min(59rem,90vw)"};
    }
    .cards__item {
        margin: 1rem 5vw;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
        min-width: #{"min(39rem,60vw)"};
        min-height: #{"min(59rem,90vw)"};
        &:hover,
        &:focus {
            transform: rotateY(180deg);
        }
    }
    .inner {
        transition: all 0.5s;
        justify-content: flex-start;
        margin-left: 15vw;
    }
    .cardFront {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        padding: #{"min(1.5vw,1.5vh)"};
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & p:first-of-type {
            font-size: #{"max(4vw,4vh)"};
        }
        & p:last-of-type {
            font-size: #{"max(8vw,8vh)"};
        }
    }
    .cardBack {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 2%;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        & h2 {
            margin: auto;
        }
        & ul {
            padding-left: 0%;
            margin: auto;
            width: 90%;
            height: 40%;
            display: grid;
            grid-template-columns: auto auto;
            gap: #{"min(2vw,2vh)"};
            // background-color: red;
        }
        & li {
            border: 2px solid $secColor;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & h3 {
                font-size: #{"max(3vw,3vh)"};
            }
            & p:last-of-type {
                font-size: #{"max(4vw,4vh)"};
            }
        }
    }
    .icon {
        max-height: 40vh;
        max-width: 40vw;
    }
}
@media screen and (min-width: 1024px) {
    .cards__item {
        &:hover,
        &:focus {
            cursor: pointer;
            transform: scale(1.1);
            box-shadow: 0px 0px 10px $accent;
        }
    }
    .close {
        visibility: hidden;
        &:focus {
            filter: brightness(400%);
            cursor: none;
            transform: scale(0);
            box-shadow: none;
            transition: all 0.2s ease;
        }
    }
    .open {
        animation-name: popup;
        animation-duration: 2.5s;
    }
    @keyframes popup {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .carousel {
        height: 28vh;
        & p:first-of-type {
            font-size: #{"max(1.2vw,1.2vh)"};
        }
        & p:last-of-type {
            font-size: #{"max(2vw,2vh)"};
        }
    }
    .cardFront {
        height: 100%;
        width: 100%;
        padding: #{"min(1.5vw,1.5vh)"};
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .cardBack {
        display: none;
    }
}
