@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

$grey: #ddd;
$darkGrey: #bdbfba;
$secColor: #a78c71;
$accent: #205153;

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-button {
    background: transparent;
    width: 1rem;
    height: 2rem;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $grey;
}

.hot {
    & .mainStop {
        stop-color: #ff9966;
    }
    & .altStop {
        stop-color: #ff5e62;
    }
}

.warmer {
    & .mainStop {
        stop-color: #ff9966;
    }
    & .altStop {
        stop-color: #ffa939;
    }
}

.warm {
    & .mainStop {
        stop-color: #fff34d;
    }
    & .altStop {
        stop-color: #ffa939;
    }
}

.cooler {
    & .mainStop {
        stop-color: #fff34d;
    }
    & .altStop {
        stop-color: #80ead6;
    }
}

.cool {
    & .mainStop {
        stop-color: #80ead6;
    }
    & .altStop {
        stop-color: #b0def8;
    }
}

.cold {
    & .mainStop {
        stop-color: #aadefb;
    }
    & .altStop {
        stop-color: #59c1fb;
    }
}

.colder {
    & .mainStop {
        stop-color: #48bdfe;
    }
    & .altStop {
        stop-color: #7e97ff;
    }
}

.freeze {
    & .mainStop {
        stop-color: #899ffc;
    }
    & .altStop {
        stop-color: #5a7bff;
    }
}

*,
*::after,
*::before {
    margin: 0%;
    box-sizing: border-box;
    font-family: "Alice", serif;
    outline: none;
}

:root {
    font-size: 10px;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(to top, $accent, #36888c 8%, #52b8bc 17%, #c1e5e7 30%, #fff 50% 100%);
}

h2,
h3,
h4 {
    color: $accent;
    text-align: center;
}
h3 {
    font-size: 3rem;
}

h4 {
    font-family: "Metropolis", serif;
}
h5,
p {
    color: white;
}

@keyframes popup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1023px) {
    h2 {
        font-size: #{"min(5.0rem, 7vw)"};
    }
    h4 {
        font-size: #{"min(8rem, 10vw)"};
    }
    h5 {
        font-size: #{"min(4.5vw, 4rem)"};
    }
    p {
        font-size: #{"min(3.5vw, 2rem)"};
    }
}

@media screen and (min-width: 1024px) {
    h2 {
        font-size: #{"min(2.0rem, 1.4vw)"};
    }

    h4 {
        font-size: #{"clamp(3rem, 2.4vw, 4rem)"};
    }
    h5 {
        font-size: 4rem;
    }
    p {
        font-size: 2rem;
    }
}
