@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
@font-face {
    font-family: "Metropolis";
    src: url("./fonts/metropolis.black.otf");
}

$darkGrey: #727272;

@media screen and (min-width: 1200px) {
    *,
    *::after,
    *::before {
        margin: 0%;
        overflow: hidden;
        box-sizing: border-box;
        font-family: "Alice", serif;
        outline: none;
    }

    :root {
        font-size: 10px;
    }

    h2 {
        color: $darkGrey;
        font-size: #{"min(2.4rem, 1.4vw)"};
    }
    h3 {
        color: $darkGrey;
        font-size: 3rem;
        text-align: center;
    }

    h4 {
        color: $darkGrey;
        font-size: #{"clamp(3rem, 2.4vw, 4rem)"};
        font-family: "Metropolis", serif;
    }
    h5 {
        color: white;
        font-size: 4rem;
        margin: 0 1rem;
    }

    p {
        color: white;
        font-size: 2rem;
        max-width: 30ch;
    }

    body {
        height: 100vh;
        width: 100vw;
        background-image: url("./img/eezy_64-01s.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .app {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search {
        &__title {
            margin-top: 2rem;
            color: white;
        }
        &__form {
            position: relative;
            display: flex;
            justify-content: center;
            margin: 3rem 0;
            & input {
                position: relative;
                z-index: 10;
                padding: 1rem 2rem;
                border-radius: 5rem;
                border: none;
            }
            &--btn {
                z-index: 5;
                position: relative;
                border-radius: 25px;
                padding-left: 4rem;
                padding-right: 1.5rem;
                margin-left: -3rem;
                cursor: pointer;
                border: none;
                background-color: $darkGrey;
                color: white;
                &:hover,
                &:focus {
                    background-color: lighten($darkGrey, 10%);
                }
            }
        }
        &__suggestions {
            z-index: 3;
            margin: -5rem auto auto 2.2rem;
            padding: 2rem 0;
            position: absolute;
            width: 24.7rem;
            background-color: #012371;
            border-radius: 0 0 15px 15px;
            & button {
                background-color: #012371;
                color: white;
                border: none;
                width: 100%;
                padding: 1rem;
                &:hover,
                &:focus {
                    background-color: $darkGrey;
                    cursor: pointer;
                }
            }
        }
    }
    .cards {
        margin: 0 auto;
        width: #{"min(80vw,130rem)"};
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        &__item {
            transition: transform 0s;
            opacity: 0.9;
            margin: 2rem;
            padding: 2rem;
            width: #{"min(18rem,17vw)"};
            height: #{"min(27rem,19vw)"};
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 2rem;
            background: $darkGrey;
            &--icon {
                margin: auto 0;
                height: 10rem;
                width: 10rem;
            }
            &--path {
                fill: url(#gradient);
            }
            &:hover,
            &:focus {
                cursor: pointer;
                transform: scale(1.1);
                box-shadow: 0px 0px 10px white;
            }
        }
    }

    @keyframes popup {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .hot {
        background: linear-gradient(-45deg, #ff9966, #ff5e62);
    }

    .warmer {
        background: linear-gradient(-45deg, #ff9966, #ffa939);
    }

    .warm {
        background: linear-gradient(-45deg, #fff34d, #ffa939);
    }

    .cooler {
        background: linear-gradient(-45deg, #fff34d, #80ead6);
    }

    .cool {
        background: linear-gradient(-45deg, #80ead6, #b0def8);
    }

    .cold {
        background: linear-gradient(-45deg, #aadefb, #59c1fb);
    }

    .colder {
        background: linear-gradient(-45deg, #48bdfe, #7e97ff);
    }

    .freeze {
        background: linear-gradient(-45deg, #899ffc, #5a7bff);
    }

    .main-stop {
        stop-color: #ffffff;
    }
    .alt-stop {
        stop-color: #e3e3e3;
    }

    .detail {
        padding: 4rem;
        margin: 0 2rem;
        background: rgba($color: #012371, $alpha: 0.6);
        border-radius: 2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &__card {
            transition: transform 0.2s, filter 0.2s, opacity -0.1s;
            animation-duration: 0.2s;
            padding: 2rem;
            margin: 0 5rem 0 0;
            width: #{"min(26rem,18vw)"};
            height: #{"min(39rem,27vw)"};
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 3rem;

            &--icon {
                margin: auto 0;
                height: 20rem;
                width: 20rem;
            }
            &--path {
                fill: url(#gradient);
            }
        }
        &__content {
            &--grid {
                display: grid;
                grid-template-columns: auto auto;
                gap: 4rem;
                grid-template-areas:
                    "wind rain"
                    "max  min";
                margin: 2rem 0;
            }
            &--item {
                padding: 1rem 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 2px solid white;
                border-radius: 5px;
            }
        }
    }
    .wind {
        grid-area: wind;
    }
    .rain {
        grid-area: rain;
    }
    .max {
        grid-area: max;
    }
    .min {
        grid-area: min;
    }
}
