$darkGrey: #727272;
@font-face {
    font-family: "Metropolis";
    src: url("./fonts/metropolis.black.otf");
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("./img/eezy_64-01s.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
